body{
    padding: 0;
    margin: 0;
}


.nav-buttons{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: 110px;
    list-style-type: none;
    margin: 20 0;
    padding:0;
}

li.burger img{
    width: 48px;
    margin-left: 20px;
}

li.watch img{
    width:48px;
    margin-right: 20px;
}

li.logo{
    width: 120px;
    height: 48px;
}


.cala{
    transform: translateY(-70px);    
}

